# Refer to https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
# and https://registry.terraform.io/providers/hashicorp/aws/latest/docs#shared-configuration-and-credentials-files

# Should be an exact copy what aws academy gives us
[default]
aws_access_key_id=xxx
aws_secret_access_key=xxx
aws_session_token=xxx